<!DOCTYPE html>
<html>
  <head>
    <title>ImgurApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p>
        <%= link_to("home", "/") %>
      </p>
      <p>
        <%= link_to("upload", "/upload") %>
      </p>
    </header>
    <%= yield %>
  </body>
</html>
